h1 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1rem;
  color: var(--black);
  font-weight: 700;
}
h3 {
  font-size: 14px;
  color: var(--grey);
}
h4 {
  font-size: 12px;
  color: var(--dark-gray);
}
h5 {
  font-size: .625rem;
  font-weight: 700;
  color: var(--light-gray);
  line-height: 1rem;
}
p {
  font-size: 12px;
}

@media (max-width: 767.98px) {
  h2 {
    font-size: .875rem;
  }
  h1 {
    font-size: 1rem;
  }
}
