// Colors Variables
$white: #fff;
$black: #000;
$black-dark: #1e1e1e;
$light-brown: #d0b99e;
$light-gray: #dfdfdf;
$lighter-gray: #a4a4a4;
$theme-color: $black-dark;

$arial-font: Arial, Helvetica, sans-serif;
$poppins-font: "Poppins", $arial-font;

$transition: all 0.3s ease;

// media queries breakpoints
$widescreen: 1440;
$largescreen: 1600;
$tv-screen: 1700;