// Colors Variables
$white: #fff;
$black: #000;
$black-dark: #1e1e1e;
$light-brown: #d0b99e;
$dark-brown: #a37d50;
$light-gray: #dfdfdf;
$lighter-gray: #a4a4a4;
$light-green: #50a37b;
$light-white: #f2f2f7;
$theme-color: $black-dark;

$arial-font: Arial, Helvetica, sans-serif;
$poppins-font: "Poppins", $arial-font;

$transition: all 0.3s ease;
$overlay-bg: rgba($black, 0.5);

// media queries breakpoints
$xs-phone: 375;
$sm-phone: 480;
$phone: 576;
$tablet: 768;
$tablet-max: 767;
$desktop: 992;
$desktop-max: 991;
$widescreen: 1200;
$largescreen: 1440;
$tv-screen: 1600;
$xl-screen: 1850;